
/* home page */
#title {
    margin-left: 15px;
    font-size: 30px;
    color: #FF4545;
}

#name {
    color: #FFFFFF;
    font-family: 'Noto Sans TC';
    font-size: 50px;
}

#blurb {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 15px;
}

.container1 {
    position: relative;
    text-align: left;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 125px;
    left: 70px;
}


.wow1 {
    margin-bottom: 300px;
    position: absolute;
}
.wow2 {
    margin-bottom: 300px;
    margin-left: 10px;
    position: absolute;
}
.pic-center {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    max-height: 100%;
    filter: brightness(90%);
}

/* logo */

#logo {
    top: 20px;
    left: 30px;
    font-family: 'Noto Sans TC';
    font-size: 30px;
    color: white;
    position: fixed;
}

#linkedinButton {
    border: none;
    background: none;
}

#linkedinButton:hover {
    cursor: pointer;
}

#emailButton {
    border: none;
    background: none;
}

#emailButton:hover {
    cursor: pointer;
}


/* background */
.container2 {
    background-color: #151515;
    width: 100%;
    height: 700px;
}

#background2 {
    color: white;
    padding-top: 5%;
    padding-left: 22%;
    padding-right: 22%;
}

.heading {
    font-family: 'Roboto';
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

#content {
    font-family: 'Roboto';
    font-size: 15px;
    text-align: left;
}

/* projects */
.container3 {
    background-color: #FFFFFF;
    width: 100%;
    height: 700px;
}

#background3 {
    color: black;
    padding-top: 5%;
    padding-left: 22%;
    padding-right: 22%;
}

#projects {
    font-family: 'Roboto';
    font-size: 50px;
    text-align: center;
}


#appleButton {
    margin-top: 10px;
    margin-left: 10px; 
    border: none;
    background: none;
} 

#appleButton:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#orangeButton {
    margin-top: 10px;
    margin-left: 10px; 
    border: none;
    background: none;
} 

#orangeButton:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#bananasButton {
    margin-top: 10px;
    margin-left: 10px; 
    border: none;
    background: none;
} 

#bananasButton:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#carousel,
.carousel-image {
  width: 450px;
  height: 255px;
  margin: auto;
  /* margin-left: 50%; */
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.carousel-image {
    display: flex;
    /* flex-direction: row; */
    margin-right: 450px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* justify-content: space-between; */
}

.some-text {
  width: 450px;
  height: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-family: 'Roboto';
  margin-left: 70px;
}

.title {
  color: black;
  font-size: 30px;
  width: 300px;
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.role {
  color: #6F7170;
  font-size: 20px;
  width: 300px;
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.explain {
    color: black;
    font-size: 14px;
    width: 300px;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 15px;
}


#carousel {
    position: relative;
    overflow: hidden;  
    margin-top: 10px;
    width: 900px;
}

#carousel-image-row {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0px;
    transition: 0.5s left;
}

.carousel-image img {
    height: 100%;
    width: auto;
}

.hidden {
    visibility: hidden;
}

#carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
  
#button-next,
#button-previous {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}		

/* course work */
.container4 {
    background-color: black;
    width: 100%;
    height: 800px;
}

#background4 {
    color: white;
    padding-top: 5%;
    padding-left: 22%;
    padding-right: 22%;
}

.grade {
    font-family: 'Roboto';
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px;
}

.majorbox {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.cart1 {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    font-size: 16px;
}

.cart2 {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 16px;
}

.major {
    font-family: 'Roboto';
    font-size: 15px;
    text-align: right;
}

.classes {
    font-family: 'Roboto';
    font-size: 15px;
    text-align: left;
}

/* resume */
.container5 {
    background-color: #1A4F6D;
    width: 100%;
    height: 1100px;
}

#background5 {
    color: white;
    padding-top: 5%;
    padding-left: 22%;
    padding-right: 22%;
}

.pdfresume {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}